# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environments
.env
.venv
env.bak
venv.bak

# Pytest / coverage
.pytest_cache/
coverage.xml
htmlcov/
.coverage
.tox/

# IDEs
.vscode/
.idea/
